@tailwind base;
@tailwind components;
@tailwind utilities;

[aria-current]:is([aria-current="page"]) {
    border-bottom: 2px solid;
    border-radius: 0px;
    padding-bottom: 3px;
}

.toast {
    transition: opacity 0.3s ease-out;
}